@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .paddings {
    @apply md:ml-32 ml-0 px-8 lg:px-14 md:py-20 sm:py-40 py-32;
  }
  .navbar {
    @apply flex items-center justify-between flex-col gap-[10%] h-full py-12 px-4 rounded-xl min-w-[100px];
  }
  .mobile_navbar {
    @apply flex items-center justify-between flex-row py-6 sm:px-12 px-6 rounded-lg;
  }
  .navbar_icons {
    @apply w-6 h-6 hover:text-icons-100 cursor-pointer transition-all duration-100;
  }

  .light_background {
    @apply bg-light-100 text-dark-100;
  }
  .dark_background {
    @apply bg-dark-100 text-light-100;
  }
  .light_elements {
    @apply bg-light-100 text-dark-50;
  }
  .dark_elements {
    @apply bg-dark-50 text-light-50;
  }

  .card-hover {
    @apply transition-all duration-500 scale-110 cursor-pointer;
  }
  .container {
    @apply flex items-center flex-wrap justify-center mt-3 w-full;
  }
  .movie {
    @apply m-6 overflow-hidden relative rounded-2xl w-[240px] h-[330px];
  }

  .text-gradient {
    background: radial-gradient(
      circle at 61% 31%,
      rgba(130, 145, 238, 1) 0%,
      rgba(254, 69, 72, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
